* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: whitesmoke;
}
header nav {
  background-color: white;
  padding: 5px;
}

nav a {
  color: #333;
  text-decoration: none;
  margin: 0 20px;
  font-size: 2rem;
  font-weight: bold;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 20px;
}

figure img {
  width: 100%;
  height: auto;
}
main article {
  padding: 10px;
  margin: 10px;
}
section h2 {
  display: flex;
  justify-content: center;
}

section form {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  gap: 10px;
}
html {
  scroll-behavior: smooth;
}

nav a:hover {
  color: blue;
  transition: color 0.9s;
}

